@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="posts">
    @foreach (var post in Model)
    {
        <div class="post">
            <h2 class="post-title">@post.Title</h2>
            <div class="post-image">
                <img src="~/img/@post.Photo" alt="@post.Title" />
            </div>
            <div class="post-time">
                <span data-post-time="@post.CreatedTime.ToString("s")"></span>
            </div>
            <p class="post-desc">
                @post.Description
            </p>
        </div>
    }
</div>

